html {
    scroll-behavior: smooth;
}

body {
position: relative;
margin: 0;
padding: 0;
top: 0;
left: 0;
color: white;
background-color: #F2D399;
}

body::-webkit-scrollbar {
display: none;
}

form {
    font-size: 1.25vw;
    width: 100%;
    height: 100%;
    color: white;
}

.modal {
    margin: 3%;
    background-color: rgba(26, 26, 26, 0.85);
    padding: 1% 5% 2% 5%;
    border-radius: 15px;
}

.form_title {
    text-align: center;
    color: white;
}
/* Full-width inputs */

.fo[type=text],
.fo[type=password],
.fo[type=email],
.fo[type=number] {
    font-family: 'Sofia';
    font-size: 1vw;
    width: 100%;
    padding: 12px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    transition: 0.75s ease-out;
}


hr {
    border: 1px solid white;
}
/* Set a style for all buttons */

.logbtn {
    font-family: 'Sofia';
    font-size: 1.05vw;
    background-color: white;
    color: #262626;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    transition: .5s ease-out;
}
/* Add a hover effect for buttons */

.logbtn:hover {
    opacity: 1;
    transform: scale(0.9);
}